<h1>Bonjour <%= @announce.user.first_name %>,</h1>

<p>
  Nous sommes actuellement en cours d'analyse de votre annonce. <br>
  Nous vous tiendrons informé lors de la mise en ligne. <br>

Cordialement, <br>

L'equipe de Refunders
</p>
