#announce-result-card{
  margin-top: 200px;
  background-color: #A27E8E;
  padding-bottom: 10px;
  padding-top: 10px;
  }

  .announces {
    background-color: #f0f1f5;
    height:auto
  }

  .white_card {
  text-align: left;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px 20px 0;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  }
