#wraper {
  // padding-top:100px;
}

#top {
  padding-top:74px;
  background-color: #8FD694;
  height:320px;
}

.img-show {
  width:130px;
  height:130px;
  margin-bottom:19px;
  margin-top:20px;
  border-radius:50%;
}

.title-announce {

  font-size: 30px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}


#comments_form {
  background: white;
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  &:before {
    background-color: #fff;
    content: "\00a0";
    display: block;
    left: 0;
    margin-left: -27px;
    position: relative;
    bottom: -3px;
    width: 18px;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}



.comment-box{
  background: transparent;
  margin-bottom: 20px;
  h3 {
    font-size: 18px;
    color: $gray-dark;
  }
  p {
    color: $gray-darker
  }
  img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
  .name-of-a-comment {
    font-size: 14px;
  }
  .comment-image {
    padding: 20px;
  }
  .comment-body {
    padding: 12px 25px;
  }
}

.name-on-a-comment{
  color: rgba(166, 159, 159, 0.57);
}

.subject-of-a-comment{
  color: rgba(120, 113, 113, 0.7);
}

.body-of-a-comment{
  color:rgb(104, 102, 102);
}

.img-comments{
  border-radius: 50%;
  border-color: red;
  width: 30px;
  height: 30px;
  }

.current-user-avatar{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.nav-tabs a {
  color: white;
}

.nav-tabs a:hover {
  color:#555555;

}

p {
  color: rgba(255, 255, 255, 0.86);
}

.content {
  margin-top: -44px;

  p {
    color: #555;
  }
}

