#wraper {
  // padding-top:100px;
}

#top {
  padding-top:74px;
  background-color: #8FD694;
  height:320px;
}

.img-show {
  width:130px;
  height:130px;
  margin-bottom:19px;
  margin-top:20px;
  border-radius:50%;
}

.title-announce {

  font-size: 30px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-tabs a {
  color: white;
}

.nav-tabs a:hover {
  color:#555555;

}

p {
  color: rgba(255, 255, 255, 0.86);
}

.content {
  margin-top: -44px;
}