<div class="top-account">
  <%= render 'shared/profil_nav'%>

  <div class="row">
    <%= image_tag current_user.picture(:medium), size: "200x200", class: "picture_user" %>
    <h1>
      <%= current_user.first_name %>
      <%= link_to t('account.users.edit'), edit_user_registration_path, class: "btn btn-primary" %>
    </h1>
  </div>
</div>