<div id ="profil_nav"
    <ul class="list-inline">
      <li><%= link_to t('shared.my_announces'), account_announces_path %></li>
      <li><%= link_to t('shared.my_portfolio'), account_purchases_path %></li>
      <li><%= link_to t('shared.profile'), user_path(current_user[:id]) %></li>
    </ul>
  </div>