/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

/* ----- couleur fond ------ */


.back-color {
  position: relative;
  background-color: rgba(57, 57, 57, 0.97);
  z-index: 2;
  height: 100%;
}


.pt-70 {
  padding-top: 70px;
}

.mt-0 {
  margin-top:0;
}

.mt-10{
  margin-top:10px;
}

.mt-20 {
  margin-top:20px;
}


.mt-22 {
  margin-top:22px;
}

.mt-30 {
  margin-top:30px;
}

.mt-40 {
  margin-top:40px;
}

.mt-100 {
  margin-top:100px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left:20px;
}

.logo {
  font-size:20px;
  color: white;
  padding-top:0px;
  margin-top:15px;
  text-shadow: 0px 2px 0px rgba(51, 51, 51, 0.08);
}


.clear {
  clear:both;
}


* {
  margin: 0;
}

body, html, .wrap {
  background-color: #f0f1f5;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
// .footer, .push {
//   height: 55px; .push must be the same height as .footer
//   background-color: rgb(139, 122, 122);
// }

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  }

th {
  text-align: center;
}

td, th {
  text-align: center;
}

.none-decoration {
  color: black;
}

.none-decoration:hover {
  color: rgba(0, 0, 0, 0.51);
}