/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

/* ----- couleur fond ------ */


.back-color {
  position: relative;
  background-color : rgba(143,214,148,0.5);
  z-index:2;
  height:100%
}


.pt-70 {
  padding-top: 70px;
}

.mr-20 {
  margin-right: 20px;
}

.logo {
  font-size:20px;
  color: black;
  padding-top:0px;
  margin-top:15px;
}


.clear {
  clear:both;
}