/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


 /*---- facebook -----------*/

 .btn.btn-facebook {
  background-color: #3b5998;
  color:white;
  a {
    color:white !important;
  }
  &:hover {
    color:white !important;
  }
}

.fa-facebook-f:before, .fa-facebook:before {
  padding: 10px;
  }
 /*---- linkedin -----------*/

.btn.btn-linkedin {
  background-color: #0976b4;
  color:white;
  a {
    color:white !important;
  }
  &:hover {
    color:white !important;
  }
}
.fa-linkedin:before {
  padding: 10px;
}

/*----------------button -----------------*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

  .btn a {
  color: white;
  text-decoration: none;
  }

.btn-acide{
  background-color: #8FD694;
  color: white;
}

.btn-acide:hover{
  background-color: rgba(122, 228, 129, 0.83);
  color: white;
}